@import "~react-image-gallery/styles/css/image-gallery.css";

:root {
  --darkBlue: #00202e;
  --blue: #003f5c;
  --lightBlue: #2c4875;
  --darkPurple: #8a508f;
  --lightPurple: #bc5090;
  --salmon: #ff6361;
  --darkOrange: #ff8531;
  --lightOrange: #ffa600;
  --yellow: #ffd380;
  --card-background: #ffffff91;
  --main-font: Verdana, Geneva, Tahoma, sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

html {
  background-color: var(--lightBlue);
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;

}

main {
  margin: 0;
  animation: 1s ease-out 0s 1 fadeIn;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: var(--darkOrange) 2px solid;
}

.feed-appreciation-list {
  background-color: var(--lightBlue);
}

.card-team:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container-team {
  padding: 2px 16px;
  text-align: center;
}

.demo-logo {
  color: #1677FF;
  margin-top: 24px;
}

.profile-icon {
  margin-top: 24px;
}

.layout-container {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  margin-top: 4em;
  animation: 1s ease-out 0s 1 fadeIn;
}

.logo-img {
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--darkOrange);
}

.appreciate-container {
  background-color: var(--lightBlue);
  height: 100%;
}

.appreciation-card {
  height: 157px;
  width: 432px;
  border: var(--lightBlue) 2px solid;
  margin-bottom: 10px;
  box-shadow: 0px 0px 50px -20px rgba(8, 165, 244, 0.381);
  background-position: bottom;
  font-family: var(--main-font);
  animation: 1s ease-out 0s 1 fadeIn;
}

.feed-appreciation-list {
  list-style: none;
  padding: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--lightBlue);
}

main::-webkit-scrollbar {
  display: none;
}

main {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main-title {
  color: var(--yellow);
  margin: 50px 0 20px 0;
}

.user-avatar {
  border: var(--darkOrange) 2px solid;
  border-radius: 50%;
  scale: 1.2;
}

.whitespace {
  width: 20vw;
  background-color: var(--lightBlue);
}

.generate-appreciation__form {
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6em;
  animation: 1s ease-out 0s 1 fadeIn;
  font-family: var(--main-font);
  color: var(--darkOrange);
}

.form-comment__label {
  align-self: center;
  width: 90%;
}

.form-comment {
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px 28px 20px;
  margin-top: 24px;
  border-radius: 4px;
}

.form-comment__title {
  margin: 0 0 20px 0;
  font-size: 0.9rem;
  color: wheat;
}

.form-comment__textarea {
  width: 100%;
  height: 100px;
  resize: none;
  border: none;
  border-radius: 4px;
  padding: 8px;
  font-size: 0.7em;
  font-family: var(--main-font);
}

.form-comment__textarea:focus {
  border: none;
  outline: var(--lightOrange) 2px solid;
}

.form-submit {
  width: min-content;
  align-self: flex-start;
  justify-self: flex-end;
  padding: 4px 8px;
  font-size: 0.8em;
  background-color: var(--darkBlue);
  color: var(--yellow);
  border: none;
  outline: 2px solid var(--yellow);
  border-radius: 4px;
}

.form-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blue);
  padding: 20px;
  border-radius: 4px;
}

.form-select__title {
  white-space: nowrap;
  color: wheat;
  font-size: 0.9rem;
  margin: 0 10px 0 0;
}

.form-select__options {
  height: fit-content;
  width: 80px;
  border: none;
  border-radius: 4px;
  background-color: var(--lightOrange);
}

.form-submit:hover {
  scale: 1.1;
  transition: 0.5s;
  cursor: pointer;
}

.loading-indicator {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightBlue);
  transition: visibility 0s 2s, opacity 2s linear;
}

.app-title {
  color: var(--lightOrange);
  font-family: var(--main-font);
}

::placeholder {
  font-family: var(--main-font);
}

.gif-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

.collapsible-button {
  color: var(--yellow);
  font-family: var(--main-font);
  font-size: 0.8em;
  font-weight: 800;
  text-decoration: underline;
  padding: 4px;
}

.collapsible-button:hover {
  cursor: pointer;
}

.gif-picker-container {
  margin-top: 20px;
}

.gif-image {
  max-height: 160px;
  max-width: 200px;
  margin: 20px;
  border-radius: 4px;
  border: var(--lightBlue) 2px solid;
}

.text-and-gif {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-comment-container {
  width: 200px;
}

.card-comment {
  max-width: 150px;
  overflow-wrap: break-word;
}

.with-gif {
  height: 257px;
}

.git-icon {
  height: 30px;
}

.linkedin-icon {
  height: 30px;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  padding: 0 20px;
}

.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-title {
  color: var(--yellow);
}

.card-team {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 90%;
  min-width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  padding: 20px 10px 10px 10px;
  margin: 0;
  background-color: var(--darkBlue);
  color: var(--lightOrange);
}

.contact-role {
  color: var(--yellow);
  font-size: 0.9em;
  margin-bottom: 30px;
}

.contact-name {
  font-size: 0.9em;
  height: 50px;
}

.linkedin-icon {
  margin-left: 8px;
}

.submit-confirmation {}

.image-gallery {
  scale: 0.8;
}